*.class
*.log
*.class
**/.DS_Store
.DS_Store
.sbt
.bsp
.history
.cache-main
.scala_dependencies
target/
project/project/
project/target/
hs_err_pid*
zio1/src/main/scala/Test.scala
zio1/files/
zio1/project/project/
zio1/project/target/
zio2/src/main/scala/Test.scala
zio2/files/
zio2/project/project/
zio2/project/target/